.settings-container {
    margin-left: 280px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .settings-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .profile-photo-container {
    margin-bottom: 20px;
  }
  
  .profile-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .profile-photo-input {
    margin-top: 10px;
  }
  
  /* .name-container {
    margin-bottom: 20px;
  } */
  
  .name-input {
    border-radius: 10px;
    width: 100%;
    padding: 5px;
    font-size: 16px;
  }
  
  /* .password-container {
    margin-bottom: 20px;
  }
   */
  .password-input {
    border-radius: 10px;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .save-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
  }
 
  