.Navbar{
    background-color: #bbb7b7;
    color: rgb(19, 10, 10);
    height: 50px;
    display: flex;
    /* justify-content: space-between; */
    gap: 200px;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 2px 4px 0 rgba(129, 146, 161, 0.2);
    margin-left: 280px;
}
.nleft{
    display: flex;
    align-items: center;
    /* background-color:white; */
    border-radius:20px;
}
.Navbar .nleft input{
    height: 30px;
    width: 500px;
    border-radius: 20px;
    border: none;
    padding: 0 10px;
    margin-left: 10px;
    
}
.nright .notifications{
    margin-right: 20px;
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    color:rgb(55, 144, 228);
}
.nright img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}
.about{
    margin-right: 20px;
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    color:rgb(38, 48, 20);
}

/* Add your existing CSS styles for Navbar here */

.modal {
    position: fixed;
    top: 30px;
    left: 250px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .modal h3 {
    margin-bottom: 10px;
  }
  
  .modal button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modal button:hover {
    background-color: #0056b3;
  }
  
 

.notification-wrapper {
    position: relative;
  }
  
  .notification-badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: #fff;
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 50%;
  }
  
 
  