.Navbar{
    background-color: #bbb7b7;
    color: rgb(19, 10, 10);
    height: 50px;
    display: flex;
    /* justify-content: space-between; */
    gap: 200px;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 2px 4px 0 rgba(129, 146, 161, 0.2);
    margin-left: 280px;
}
.nleft{
    display: flex;
    align-items: center;
    background-color:white;
    border-radius:20px;
}
.Navbar .nleft input{
    height: 30px;
    width: 500px;
    border-radius: 20px;
    border: none;
    padding: 0 10px;
    margin-left: 10px;
    
}
.nright .notifications{
    margin-right: 20px;
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    color:rgb(55, 144, 228);
}
.nright img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}
.about{
    margin-right: 20px;
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    color:rgb(38, 48, 20);
}